<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>opencover</Format> <!-- SonarCloud requer o formato OpenCover -->
          <Directory>./TestResults</Directory> <!-- Diretório onde os resultados serão armazenados -->
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
