<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <PropertyGroup>
    <CoverletOutput>$(SolutionDir)coverage_reports</CoverletOutput>
    <MergeWith>$(SolutionDir)coverage.cobertura.xml</MergeWith>
    <Exclude>MyNamespace.Internal.*</Exclude>
    <Formatter>cobertura</Formatter>
    <UseSourceLink>true</UseSourceLink>
  </PropertyGroup>
</RunSettings>